.project{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin-bottom: 1px;
    height: 1.2rem;
    padding: 0 0.1rem;
	color: #333;
    .pic{
        width: 40%;
        padding-right: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            max-width: 1rem;

        }
    }
    .cont{
        width: 60%;
        height: 100%;
        position: relative;
        padding: 0.1rem 0;

        .title{
            font-size: 0.16rem;
            height: 0.3rem;
            line-height: 0.3rem;
            font-weight: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .desc{
            font-size: 0.12rem;
            color: #666;
            margin-bottom: 0.05rem;
            margin-top: 0.05rem;
        }
        .tags{
            .tag{
                background-color: #ccc;
                padding: 0 2px;
                border-radius: 3px;
                font-size: 0.1rem;
                font-style: normal;
                display: inline-block;
            }
        }
        .price{
            font-size: 0.18rem;
            color: #fe652f;
            margin-top: 0.1rem;
            .del{
                font-size: 0.14rem;
                color: #666;
            }
        }
        .add-cart{
            position: absolute;
            right: 0.1rem;
            bottom: 0.2rem;
            color: #fe652f;
        }
    }
}
