@import '../../static/css/theme';

.yg-button{
    width: 100%;
    height: 0.44rem;
    line-height: calc(0.44rem - 2px);
    margin-top: 0.1rem;
    cursor:pointer;
    display: block;
    outline: 0 none;
    -webkit-appearance: none;
    padding: 0;
    text-align: center;
    font-size: 0.18rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: $radius;
    &:active{
        box-shadow: inset 0 0.23rem 20px #f6f6f6,inset 0 -0.23rem 20px #f6f6f6;
    }
    &.disabled{
        opacity: .3;
    }

    &-primary{
        background-color: $primary;
        border-color: $primary;
        color: #fff;
        &:active{
            box-shadow: inset 0 0.23rem 20px $primary/0.9,inset 0 -0.23rem 20px $primary/0.9;
        }
    }
    &-danger{
        background-color: $danger;
        border-color: $danger;
        color: #fff;
        &:active{
            box-shadow: inset 0 0.23rem 20px $danger/0.9,inset 0 -0.23rem 20px $danger/0.9;
        }
    }
    &-gray{
        background-color: $gray;
        border-color: $gray;
        color: #fff;
        &:active{
            box-shadow: inset 0 0.23rem 20px $gray/0.9,inset 0 -0.23rem 20px $gray/0.9;
        }
    }

}