@import "../../static/css/theme.scss";

.yg-progress{
    height: 0.11rem;
    position: relative;

    &-outer{
        margin-top: 5px;
        height: 1px;
        background-color: #ddd;
    }
    &-bar{
        width: 0;
        height: 1px;
        border-top:2px solid #a3b0cd;
        border-bottom:2px solid #a3b0cd;
        margin-top: -2px;
        background-color: $reverse;
        box-sizing: content-box;
        position: absolute;
        z-index: 2;
        transition: all .5s linear 0s;

        &:after{
            content: '';
            width: 5px;
            height:5px;
            border-radius: 50%;
            border:3px solid #a3b0cd;
            background-color: $reverse;
            box-sizing: content-box;
            position: absolute;
            right:-2px;
            top:-4px;
            z-index: -1;
        }
    }
}
