@keyframes BombIn {
    0% {
        transform: translate(-50%, -50%) scale(0, 0);
        -webkit-transform: translate(-50%, -50%) scale(0, 0);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2, 1.2);
        -webkit-transform: translate(-50%, -50%) scale(1.2, 1.2);
    }
    100% {
        transform: translate(-50%, -50%) scale(1, 1);
        -webkit-transform: translate(-50%, -50%) scale(1, 1);
    }
}

@keyframes Flop {
    0% {
        transform: translate(-50%, -50%) rotateY(90deg);
        -webkit-transform: translate(-50%, -50%) rotateY(90deg);
    }
    33% {
        transform: translate(-50%, -50%) rotateY(0deg);
        -webkit-transform: translate(-50%, -50%) rotateY(0deg);
    }
    67% {
        transform: translate(-50%, -50%) rotateY(-30deg);
        -webkit-transform: translate(-50%, -50%) rotateY(-30deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateY(0deg);
        -webkit-transform: translate(-50%, -50%) rotateY(0deg);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translate(-50%, 0%);
        -webkit-transform: translate(-50%, 0%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes shake {
    from, to {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    15%, 45%, 75% {
        -webkit-transform: translate(-60%, -50%);
        transform: translate(-60%, -50%);
    }

    30%, 60%, 90% {
        -webkit-transform: translate(-40%, -50%);
        transform: translate(-40%, -50%);
    }
}

@keyframes scaleIn {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 160px;
        height: 160px;
    }
}

@keyframes scaleOut {
    0% {
        width: 160px;
        height: 160px;
        opacity: 1;
    }
    100% {
        width: 0;
        height: 0;
        opacity: 0;
    }
}